---
interface Props {
  className?: string;
  text: string;
}

const { className = '', text } = Astro.props;
---

<p
  class={`${className} font-gotham font-[400] text-[16px] sm:text-[18px] leading-[28px] w-full lg:w-[661px] text-secondary`}
>
  {text}
</p>
