---
import Subtitle from "../../../shared/ui/subtitle/subtitle.astro";
import Heading from "../../../shared/ui/heading/heading.astro";
import Paragraph from "../../../shared/ui/paragraph/paragraph.astro";
import Button from "../../../shared/ui/button/button.astro";
---

<section class="flex items-start flex-col mt-16">
    <Subtitle text="Различные виды культур" />
    <Heading text="О" orangeText="sun grain" level={2} className="mt-3" />
    <Paragraph
        className="mt-8"
        text="Честность – наш принцип. С SunGrain вы получаете качественное зерно и прозрачные условия. Мы строим бизнес на доверии, чтобы вы выбирали лучшее. SunGrain – по-настоящему честный бизнес."
    />
</section>
