---
import Heading from "../../../shared/ui/heading/heading.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Image from "astro/components/Image.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const websites = [
  "https://cargopv.kz",
  "https://samigroups.kz",
  "https://agropv.kz",
  "https://shbt.kz",
];

const logos = await Astro.glob("../../../../public/images/logos/*").then(
  (files) =>
    files.map((file, index) => ({
      src: file.default,
      website: websites[index],
    }))
);
---

<section class="flex items-start flex-col lg:flex-row lg:mt-48 xl:mt-64">
  <div
    class="flex flex-col items-start max-w-[90%] lg:max-w-[80%] 3xl:max-w-[1560px] 4xl:max-w-[1800px] mx-auto"
  >
    <div class="hero-heading opacity-0 translate-x-[-100px]">
      <Heading
        text={t("partners.heading")}
        orangeText={t("partners.orange.text")}
        level={5}
      />
    </div>

    <div class="w-full overflow-hidden mt-12">
      <div class="marquee-track flex">
        <div class="marquee-content flex">
          {
            [...logos, ...logos].map((logo, index) => (
              <a
                href={logo.website}
                target="_blank"
                rel="noopener noreferrer"
                class="transition-opacity hover:opacity-75"
              >
                <div class="mx-8 ">
                  <Image
                    src={logo.src}
                    alt={`Partner logo ${index + 1}`}
                    class="h-20 w-auto"
                  />
                </div>
              </a>
            ))
          }
        </div>
        <div class="marquee-content flex">
          {
            [...logos, ...logos].map((logo, index) => (
              <div class="mx-8">
                <a
                  href={logo.website}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="transition-opacity hover:opacity-75"
                >
                  <Image
                    src={logo.src}
                    alt={`Partner logo ${index + 1}`}
                    class="h-20 w-auto object-contain"
                  />
                </a>
              </div>
            ))
          }
        </div>
      </div>
    </div>

    <style>
      .marquee-track {
        width: 100%;
        position: relative;
        display: flex;
      }

      .marquee-content {
        flex-shrink: 0;
        display: flex;
        white-space: nowrap;
        animation: scroll 10s linear infinite;
      }

      @keyframes scroll {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
      }
    </style>

    <script>
      import { gsap } from "gsap";

      window.addEventListener("load", () => {
        const timeline = gsap.timeline();

        timeline.to(".hero-heading", {
          opacity: 1,
          x: 0,
          duration: 0.8,
          ease: "power3.out",
        });
      });
    </script>
  </div>
</section>
