---
import type { ComponentType } from "react";

interface IconProps {
    size: number;
    color: string;
    className: string;
}

interface Props {
    icon: ComponentType<IconProps>;
    title: string;
    text: string;
}
const { icon: Icon, title, text } = Astro.props;
---

<div
    class="flex flex-col items-center w-full bg-white h-[19rem] sm:h-[21.5rem] rounded-[16px] py-5 px-6"
    style={{ boxShadow: "0px 16px 32px 0px #0000000F" }}
>
    <div class="flex flex-row items-center justify-between w-full">
        <div
            class="w-20 h-20 bg-[#F3881033] rounded-full flex items-center justify-center"
        >
            <Icon size={40} color="#F38810" className="text-primary" />
        </div>
        <span
            class="font-gotham font-[700] text-[1.6rem] text-primary whitespace-nowrap"
            >{title}</span
        >
    </div>
    <p
        class="w-full font-gotham font-[400] text-[14px] leading-[25px] text-secondary mt-6 self-center"
    >
        {text}
    </p>
</div>
