---
import type { ComponentType } from "react";

interface IconProps {
    size: number;
    color: string;
    className: string;
}

interface Props {
    icon: ComponentType<IconProps>;
    title: string;
    text: string;
}
const { icon: Icon, title, text } = Astro.props;
---

<div
    class="flex flex-col items-center w-full bg-white h-[305px] rounded-[16px] py-[18px] px-[20px]"
    style={{ boxShadow: "0px 16px 32px 0px #0000000F" }}
>
    <div class="flex flex-row items-center justify-between w-full">
        <div
            class="w-[85.75px] h-[85.75px] bg-[#F3881033] rounded-full flex items-center justify-center"
        >
            <Icon size={40} color="#F38810" className="text-primary" />
        </div>
        <span class="font-gotham font-[700] text-[32px] text-primary"
            >{title}</span
        >
    </div>
    <p
        class="font-gotham font-[400] text-[14px] leading-[28px] text-secondary mt-8 self-center"
    >
        {text}
    </p>
</div>
