---
import Subtitle from "../../../shared/ui/subtitle/subtitle.astro";
import Heading from "../../../shared/ui/heading/heading.astro";
import Paragraph from "../../../shared/ui/paragraph/paragraph.astro";
import ServiceCard from "./service-card.astro";
import Image from "astro/components/Image.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

import { serviceCardContent } from "../model/service-card-content";
import services01 from "../../../../public/images/services01.webp";
import services02 from "../../../../public/images/services02.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section class="flex flex-col mt-16" id="services">
    <div class="w-full relative">
        <div
            class="absolute left-0 top-0 h-[60%] lg:h-full w-full lg:w-[55vw] overflow-hidden"
        >
            <Image
                src={services01}
                alt="Services background"
                class="w-full h-full object-cover lg:hidden"
            />
            <Image
                src={services02}
                alt="Services background"
                class="hidden lg:block w-full h-full object-cover"
            />
            <div class="absolute inset-0 bg-[#F3881080]"></div>
        </div>
        <div class="relative z-10">
            <div class="w-[86%] lg:max-w-[80%] 3xl:max-w-[1560px] mx-auto">
                <div class="flex flex-col lg:flex-row relative">
                    <div class="w-full lg:w-[55%]">
                        <div class="flex items-start flex-col py-16">
                            <Subtitle
                                text={t("services.subtitle")}
                                className="text-white"
                            />
                            <Heading
                                text={t("services.heading")}
                                level={4}
                                className="mt-3 text-white lg:w-[540px]"
                            />
                            <Paragraph
                                className="mt-8 mb-8 text-white text-[18px] lg:hidden"
                                text={t("services.paragraph")}
                            />
                            <span
                                class="font-montserrat font-[500] text-[18px] text-white lg:hidden"
                                >{t("services.contact")}</span
                            >
                            <div
                                class="mt-6 flex flex-col items-center gap-8 lg:hidden"
                            >
                                {
                                    serviceCardContent.map((card) => (
                                        <ServiceCard {...card} />
                                    ))
                                }
                            </div>
                        </div>
                    </div>
                    <div
                        class="hidden lg:flex flex-col lg:w-[45%] lg:pt-16 lg:min-h-[806px]"
                    >
                        <div class="lg:pl-16 xl:pl-20">
                            <Paragraph
                                className="text-[#223137] text-[18px] lg:max-w-[100%] xl:max-w-[75%] mb-8"
                                text={t("services.paragraph")}
                            />
                            <span
                                class="font-montserrat font-[500] text-[18px] text-[#F38810]"
                                >{t("services.contact")}</span
                            >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div
        class="hidden lg:block lg:max-w-[80%] 3xl:max-w-[1560px] mx-auto relative -mt-[28rem]"
    >
        <div class="z-20">
            <div class="grid grid-cols-3 gap-8">
                {serviceCardContent.map((card) => <ServiceCard {...card} />)}
            </div>
        </div>
    </div>
</section>
