---
import Heading from "../../../shared/ui/heading/heading.astro";
import Paragraph from "../../../shared/ui/paragraph/paragraph.astro";
import { Form } from "./form";
---

<div
    class="relative left-[50%] right-[50%] -mx-[50vw] w-screen min-h-[440px]"
    style="margin-top: calc(440px + 14rem)"
>
    <section class="flex items-end flex-col" id="contacts">
        <div class="absolute inset-0 bg-[#F38810]"></div>
        <div class="relative z-10 w-[86%] mx-auto py-14">
            <Heading
                text="свяжитесь с нами уже сейчас"
                level={5}
                className="mt-3 text-white"
            />
            <Paragraph
                className="mt-8 text-white"
                text="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vitae venenatis arcu. Ut justo arcu, ullamcorper vel tellus ut, semper volutpat lorem. "
            />
            <Form client:load />
            <div class="flex flex-col items-start">
                <a
                    href="tel:+7 775 993 25 87"
                    class="mt-8 text-white font-[500] font-montserrat text-[20px]"
                    >+7 775 993 25 87</a
                >
                <a
                    href="mailto:sungrain@gmail.com"
                    class="mt-4 text-white font-[500] font-montserrat text-[20px]"
                    >sungrain@gmail.com</a
                >
                <span
                    class="mt-20 text-white font-[500] font-montserrat text-[20px]"
                    >Developed By Spark Studio</span
                >
            </div>
        </div>
    </section>
</div>
