---
import Heading from "../../../shared/ui/heading/heading.astro";
import Paragraph from "../../../shared/ui/paragraph/paragraph.astro";
import Button from "../../../shared/ui/button/button.astro";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";
import Image from "astro/components/Image.astro";

import wheat from "../../../../public/images/wheat.webp";
import wheat2 from "../../../../public/images/wheat2.webp";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<>
    <main
        class="max-w-[90%] lg:max-w-[80%] 3xl:max-w-[1560px] mx-auto flex items-start flex-col lg:flex-row mt-36 lg:mt-48"
    >
        <div class="flex flex-col items-start">
            <Heading
                text={t("hero.title.mob")}
                orangeText="sungrain"
                className="lg:hidden"
                level={1}
            />
            <Heading
                text={t("hero.title.pc")}
                orangeText="sungrain"
                className="hidden lg:block"
                level={1}
            />
            <Paragraph className="mt-4" text={t("hero.paragraph")} />
            <Button
                label={t("button.contact")}
                className="mt-8"
                buttonType="link"
                href="#contacts"
            />
        </div>
        <Image
            src={wheat2}
            alt="Wheat"
            class="absolute lg:flex hidden lg:right-0 lg:max-w-[340px] lg:top-64 lg:max-h-[400px] xl:top-72 xl:max-w-[480px] 2xl:top-[15rem] 2xl:max-w-[700px] 2xl:max-h-[500px] 3xl:max-w-[800px] 3xl:max-h-[600px]"
        />
    </main>
    <div class="w-full min-h-[240px] sm:min-h-[340px] relative lg:hidden">
        <Image
            src={wheat}
            alt="Wheat"
            class="absolute -left-40 sm:-left-40 sm:max-w-[600px] lg:scale-x-[-1] lg:left-0 lg:right-84 max-h-[310px] max-w-[490px] sm:max-h-[410px]"
        />
    </div>
</>
