---
interface Props {
    text: string;
    orangeText?: string;
    level?: 1 | 2 | 3 | 4 | 5 | 6;
    className?: string;
}

const { text, orangeText = "", level = 1, className = "" } = Astro.props;

const lines = text.split("\n");
const Tag = `h${level}`;
---

<Tag
    class:list={[
        `text-secondary font-[900]  ${level < 2 ? " xl:leading-[85px] text-[26px] sm:text-[30px] md:text-[36px] lg:text-[42px] xl:text-[53px]" : "text-[30px] sm:text-[44px] lg:text-[32px] xl:text-[36px] 2xl:text-[40px]"}`,
        className,
    ]}
>
    {
        lines.map((line, index) => (
            <>
                {line.toUpperCase()}
                {index < lines.length - 1 && <br />}
            </>
        ))
    }
    {orangeText && " "}
    <span class="text-primary">{orangeText.toUpperCase()}</span>
</Tag>
