---
interface Props {
    text: string;
    orangeText?: string;
    level?: 1 | 2 | 3 | 4 | 5 | 6;
    className?: string;
}

const { text, orangeText = "", level = 1, className = "" } = Astro.props;
---

<h1
    is={`h${level}`}
    class={`font-unisans text-secondary font-[900] leading-[48px] sm:leading-[85px] lg:leading-[128px] w-full lg:max-w-[952px] ${level > 2 ? "text-[32px] sm:text-[48px] lg:text-[48px]" : "text-[40px] sm:text-[64px] lg:text-[85px]"} ${className}`}
>
    {text.toUpperCase()}
    <span class="text-primary">{orangeText.toUpperCase()}</span>
</h1>
